viewCompanyDtl{
    border-style: solid;
    border-color: black;
    text-decoration-style: wavy;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  th {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 1px;
  }
  
  .demo-table {
    width: 80%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }
  
  .demo-button{
    text-align: center;  
    mask-border-outset: initial;
  }