
<div>
    <button class="btn btn-info" type="button" routerLink="/addCompany/page">Add Company</button>
    <!--<button  class="btn btn-success" mat-flat-button color="accent" data-bs-toggle="modal" data-bs-target="#addModal" type="submit">Add
        Company</button>-->
</div>
<div class="tblDiv">
    <table class="viewCompanyDtl">
        <tr>
            <th>Company Code</th>
            <th>Company Name</th>
            <th>Company CEO</th>
            <th>Company website</th>
            <th>Company Turnover</th>
            <th>Stock Price</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let c of comArr">
            <th><a [routerLink]="['/companydtl', c.companyCode]">{{c.companyCode}}</a></th>
            <th>{{c.companyName}}</th>
            <th>{{c.companyCeo}}</th>
            <th>{{c.website}}</th>
            <th>{{c.turnover}}</th>
            <th>{{c.stockPrice}}</th>
            <th>
                <button class="data" mat-flat-button [routerLink]="['/addStock', c.companyCode]">Add Stock Price</button>
                <button >Update</button>
                <button (click)="deleteCompany(c.companyCode)">Delete</button>
            </th>
        </tr>
    </table>
</div>
<!------Using Material Form------->

  


