<div>
    <h5>Add stock Details</h5>
      <div>
      <form #stockForm="ngForm" (ngSubmit)="addCompanyDetails(comObj)">
      
      <input name="companyCode" class="form-control" type="number" placeholder="Enter Company code" [(ngModel)]="comObj.companyCode" required>
      <br>
      
      <input name="CompanyName" class="form-control" type="text" placeholder="Enter company name" [(ngModel)]="comObj.companyName" required>
      <br>
      
      <input name="CompanyCeo" class="form-control" type="text" placeholder="Enter company ceo name" [(ngModel)]="comObj.companyCeo" required>
      <br>

      <input name="website" class="form-control" type="text" placeholder="Enter company website" [(ngModel)]="comObj.website" required>
      <br>

      <input name="turnover" class="form-control" type="text" placeholder="Enter company turnover" [(ngModel)]="comObj.turnover" required>
      <br>

      <input name="stockPrice" class="form-control" type="text" placeholder="Enter company stock price" [(ngModel)]="comObj.stockPrice" required>
      <br>
      
      <button type="submit" class="btn btn-primary">Add Company Details</button>
      
      </form>
      </div>
  </div>