thead{
  
      font-size: large;
      color: maroon;
      text-decoration-style: dashed;
  
}
.comdtlss {
   table-layout: auto;
}
.comdtls{
    table-layout: fixed;
}

.avgbody{
   background-color: rgb(240, 184, 184);
}

.companyDi {
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 0.9em;
   font-family: sans-serif;
   min-width: 400px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
 }
