
<div>
    <table>
        <thead>Company and Stock Details</thead>
            <tbody>
             <tr><th></th> <th>Company Code : </th><td>{{companyDetails.companyCode}}</td><td></td> </tr>
             <tr><th></th> <th>Company Name : </th><td>{{companyDetails.companyName}}</td><td></td> </tr>
             <tr><th></th> <th>Company CEO : </th><td>{{companyDetails.companyCeo}}</td><td></td> </tr>
             <tr><th></th> <th>Company website : </th><td>{{companyDetails.website}}</td><td></td> </tr>
             <tr><th></th> <th>Company Turnover : </th><td>{{companyDetails.turnover}}</td><td></td> </tr>
            </tbody>
    </table>
</div>

<div>
    <table>
        <thead>Stock Details</thead>
        <tr>
            <th>Company Code</th>
            <th>Stock Price</th>
            <th>Timestamp</th>
        </tr>
        <tbody>
           <!-- <tr *ngFor="let arr of stockArray">
                  <td>{{arr.comp_code_fk}}</td>
                <td>{{arr.stockPrice}}</td>
                <td>{{arr.issueAt}}</td>
            </tr>-->
        </tbody>
    </table>
</div>
