<thead class="heading text-align">Company and Stock details</thead>
<div class="companyDi">
    <table class="table table-hover">
            <tbody class="comdtls">
             <tr class="table-striped"> <th>Company Code : </th><td>{{companyObj.companyCode}}</td></tr>
             <tr class="table-striped"> <th>Company Name : </th><td>{{companyObj.companyName}}</td> </tr>
             <tr class="table-striped"> <th>Company CEO : </th><td>{{companyObj.companyCeo}}</td><td></td> </tr>
             <tr class="table-striped"> <th>Company website : </th><td>{{companyObj.website}}</td><td></td> </tr>
             <tr class="table-striped"> <th>Company Turnover : </th><td>{{companyObj.turnover}}</td><td></td> </tr>
            </tbody>
    </table>
</div>
<hr>
<div>
    <table class="table table-hover" >
            <tbody  class="avgbody" align="center">
                
             <tr style="background-color: thistle;"> <th>Avarage Stock Price : </th><td>{{AvgStockPrice}}</td><td></td> </tr>
             <tr style="background-color: blanchedalmond"> <th>Maximum Stock Price : </th><td>{{maxStockPrice}}</td><td></td> </tr>
             <tr style="background-color: darkcyan;"> <th>Mininum Stock Price : </th><td>{{minStockPrice}}</td><td></td> </tr>
                 
            </tbody>
    </table>
</div>
<hr>

<div class="container" >
    <input type="date" placeholder="Select Date" [(ngModel)]="sb.issueAt" required >
    <button mat-flat-button color="primary" (click)="stockFilter(sb.issueAt)">Filter</button>
    </div>
    <br>
    <div *ngIf="show">
    <table class="table table-hover">
        <tr>
            <th>Tranaction Id</th>
            <th>Stock Price</th>
            <th>Timestamp</th>
        </tr>
        <tbody>
            <tr *ngFor="let c of stockList">
               <td>{{c.tranactionId}}</td>
                <td>{{c.stockPrice}}</td>
                <td>{{c.issueAt}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>

<div *ngIf="showByFilter">
    <table class="table table-hover">
        <tr>
            <th>Tranaction Id</th>
            <th>Stock Price</th>
            <th>Timestamp</th>
        </tr>
        <tbody>
            <tr *ngFor="let c of filterStock">
               <td>{{c.tranactionId}}</td>
                <td>{{c.stockPrice}}</td>
                <td>{{c.issueAt}}</td>
            </tr>
        </tbody>
    </table>
</div>

