<p>update-company works!</p>
<div>
    <div class="formGroup">
        <form #updateForm="ngForm" (ngSubmit)="updateCompany(company.companyCode)">

            <div class="form-group">
                <label for="companyCode">Company Code</label>
            <input name="companyCode" id="companyCode" class="form-control" type="number" placeholder="Enter company code"
                [(ngModel)]="company.companyCode">
            </div>

            <div class="form-group">
                <label for="companyName">Company Name</label>
            <input  name="companyName" id="companyName" class="form-control" type="text" placeholder="Enter company name"
                [(ngModel)]="company.companyName">
            </div>

            <div class="form-group">
                <label for="ceoName">Company CEO</label>
            <input  name="ceoName" id="ceoName" class="form-control" type="text" placeholder="Enter company ceo name"
                [(ngModel)]="company.companyCeo">
            </div>

            <div class="form-group">
                <label for="website">Company Name</label>
            <input  name="website" id="website" class="form-control" type="text" placeholder="Enter company website"
                [(ngModel)]="company.website">
            </div>

            <div class="form-group">
                <label for="turnover">Company Turnover</label>
            <input  name="turnover" id="turnover" class="form-control" type="text" placeholder="Enter company turnover"
                [(ngModel)]="company.turnover">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>

