<app-header></app-header>
<div class="buttonDiv">
  <!--<button class="btn btn-success" routerLink="/register" >Register</button>-->
  <!--<a mat-button mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
  <button class="btn btn-info" routerLink="/company">Company</button>
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>-->
   <img src="./assets/images/stock.png" alt="alt-text" class="stock-img" width="1300" height="100">
</div>
<router-outlet></router-outlet>