
<div  class="styled-table">
    <table class="styled-table">
        <thead>
        <tr>
            <th scope="col">Company Code</th>
            <th scope="col">Company Name</th>
            <th scope="col">Company CEO</th>
            <th scope="col">Company website</th>
            <th scope="col">Company Turnover</th>
            <th scope="col">Stock Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="avgbody">
        <tr class="active-row">
            <th><a [routerLink]="['/companydtl', company.companyCode]">{{company.companyCode}}</a></th>
            <th>{{company.companyName}}</th>
            <th>{{company.companyCeo}}</th>
            <th>{{company.website}}</th>
            <th>{{company.turnover}}</th>
            <th>{{company.stockPrice}}</th>
            <th>
                <button class="example-label" mat-flat-button [routerLink]="['/addStock', company.companyCode]" color="primary">Add Stock Price</button>
                <button class="example-label1" [routerLink]="['/update-company',company]" mat-flat-button color="accent">Update</button>
              <!--  <button (click)="deleteCompany(company.companyCode)" mat-flat-button color="warn" >Delete</button>-->
            </th>
        </tr>
    </tbody>
    </table>
  </div>
  